<ol>
  <% breadcrumbs.each do |breadcrumb| %>
   <li>
    <% if breadcrumb.link? %>
      <%= link_to breadcrumb.name, breadcrumb.url %>
    <% else %>
      <span>
        <%= breadcrumb.name %>
      </span>
    <% end %>

    <% unless breadcrumb == breadcrumbs.last %>
      <span>/</span>
    <% end %>
   </li>
  <% end %>
</ol>

<% if current_user %>
  <%= link_to current_user.email, edit_user_registration_path %>
  <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to_unless_current "Log in", new_user_session_path %>
  <%= link_to_unless_current "Register", new_user_registration_path %>
<% end %>
