
<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :admin_user %>
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :description %>
    <%= f.input :domain %>
    <%= f.input :subdomain %>
    <%= f.input :social_media_urls %>
    <%= f.input :archived_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
