<div id="<%= dom_id organization %>">
  <p>
    <strong>Admin user:</strong>
    <%= organization.admin_user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= organization.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organization.description %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= organization.domain %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= organization.subdomain %>
  </p>

  <p>
    <strong>Social media urls:</strong>
    <%= organization.social_media_urls %>
  </p>

  <p>
    <strong>Archived at:</strong>
    <%= organization.archived_at %>
  </p>

</div>
